<!DOCTYPE html><html lang="en"><head><title>directive-basics</title></head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"><meta name="groc-relative-root" content=""><meta name="groc-document-path" content="directive-basics"><meta name="groc-project-path" content="a-directive/directive-basics.coffee"><meta name="groc-github-url" content="https://github.com/OlenDavis/google-maps-a-directive"><link rel="stylesheet" type="text/css" media="all" href="assets/style.css"><script type="text/javascript" src="assets/behavior.js"></script><body><div id="meta"><div class="file-path"><a href="https://github.com/OlenDavis/google-maps-a-directive/blob/master/a-directive/directive-basics.coffee">a-directive/directive-basics.coffee</a></div></div><div id="document"><div class="segment"><div class="comments "><div class="wrapper"><h1 id="directive-basics">Directive Basics</h1>

<p>How a directive is made:</p></div></div><div class="code"><div class="wrapper"><span class="nx">angular</span><span class="p">.</span><span class="nx">module</span><span class="p">(</span> <span class="s">&#39;aModule&#39;</span><span class="p">,</span> <span class="p">[</span> <span class="s">&#39;ng&#39;</span> <span class="p">]</span> <span class="p">).</span><span class="nx">directive</span> <span class="s">&#39;aDirective&#39;</span><span class="p">,</span> <span class="nf">-&gt;</span></div></div></div><div class="segment"><div class="comments "><div class="wrapper"><h2 id="the-directive-definition-object">The "Directive Definition Object"</h2></div></div></div><div class="segment"><div class="comments "><div class="wrapper"><p>It's what makes a directive a directive. It's also basically a cross between Walmart clothes
and swing-state politicians: one size fits all, and painful to look at.</p></div></div><div class="code"><div class="wrapper">  <span class="nv">scope:</span></div></div></div><div class="segment"><div class="comments "><div class="wrapper"><p>Here are your scope attributes:</p></div></div><div class="code"><div class="wrapper">    <span class="nv">twoWayBound        : </span><span class="s">&#39;=&#39;</span>
    <span class="nv">optionalTwoWayBound: </span><span class="s">&#39;=?&#39;</span>
    <span class="nv">interpolated       : </span><span class="s">&#39;@&#39;</span>
    <span class="nv">anExpression       : </span><span class="s">&#39;&amp;&#39;</span></div></div></div><div class="segment"><div class="comments "><div class="wrapper"><p>An aliased scope attribute:</p></div></div><div class="code"><div class="wrapper">    <span class="nv">thisModule: </span><span class="s">&#39;@aDirective&#39;</span></div></div></div><div class="segment"><div class="comments "><div class="wrapper"><h2 id="the-directives-scope">The Directive's $scope</h2>

<h3 id="2-ways">2 Ways:</h3>

<p>Via the "link function":</p></div></div><div class="code"><div class="wrapper">  <span class="nv">link: </span><span class="nf">( $scope, $element, $attrs, controllerOrControllers ) -&gt;</span></div></div></div><div class="segment"><div class="comments "><div class="wrapper"><p>This is <em>place #1</em> where you'll typically put the script that constitutes your directive.</p></div></div><div class="code"><div class="wrapper">    <span class="nv">$scope.something = </span><span class="s">&#39;stuff&#39;</span>

    <span class="nv">$scope.alertSomething = </span><span class="nf">-&gt;</span>
      <span class="nx">alert</span> <span class="nx">$scope</span><span class="p">.</span><span class="nx">something</span>

    <span class="nx">$scope</span><span class="p">.</span><span class="nx">$watch</span> <span class="s">&#39;something + somethingElse&#39;</span><span class="p">,</span> <span class="nf">( everything ) -&gt;</span>
      <span class="nv">$scope.everything = </span><span class="nx">everything</span></div></div></div><div class="segment"><div class="comments "><div class="wrapper"><p>Or via the directive's controller as an injected dependency:</p></div></div><div class="code"><div class="wrapper">  <span class="nv">controller: </span><span class="nf">( $scope ) -&gt;</span></div></div></div><div class="segment"><div class="comments "><div class="wrapper"><p>This is <em>place #2</em> where you'll typically put the script that constitutes your directive.</p></div></div><div class="code"><div class="wrapper">    <span class="nv">$scope.somethingElse = </span><span class="s">&#39;other stuff&#39;</span>

    <span class="nv">$scope.alertSomethingElse = </span><span class="nf">-&gt;</span>
      <span class="nx">alert</span> <span class="nx">$scope</span><span class="p">.</span><span class="nx">somethingElse</span>

    <span class="nx">$scope</span><span class="p">.</span><span class="nx">$watch</span> <span class="s">&#39;everything&#39;</span><span class="p">,</span> <span class="nf">( everything, lastEverything ) -&gt;</span>
      <span class="k">return</span> <span class="k">if</span> <span class="nx">everything</span> <span class="o">is</span> <span class="nx">lastEverything</span>

      <span class="nv">$scope.everythingChangedBy = </span><span class="p">(</span> <span class="nx">everything</span><span class="o">?</span><span class="p">.</span><span class="nx">length</span> <span class="o">or</span> <span class="mi">0</span> <span class="p">)</span> <span class="o">-</span> <span class="p">(</span> <span class="nx">lastEverything</span><span class="o">?</span><span class="p">.</span><span class="nx">length</span> <span class="o">or</span> <span class="mi">0</span> <span class="p">)</span></div></div></div><div class="segment"><div class="comments "><div class="wrapper"><p>And here's where you CAN (though I don't personally recommend it) place the template for the
directive (if template it uses).</p></div></div><div class="code"><div class="wrapper">  <span class="nv">template: </span><span class="s">&#39;&#39;&#39;</span>
<span class="s">    &lt;div&gt;</span>

<span class="s">      &lt;div&gt;</span>

<span class="s">        &lt;input ng-model=&quot;something&quot;/&gt;</span>

<span class="s">        &lt;button ng-click=&quot;alertSomething()&quot;&gt;Alert Something&lt;/button&gt;</span>

<span class="s">      &lt;/div&gt;</span>

<span class="s">      &lt;div&gt;</span>

<span class="s">        &lt;input ng-model=&quot;somethingElse&quot;/&gt;</span>

<span class="s">        &lt;button ng-click=&quot;alertSomethingElse()&quot;&gt;Alert Something Else&lt;/button&gt;</span>

<span class="s">      &lt;/div&gt;</span>

<span class="s">      And everything changed by {{ everythingChangedBy }}</span>

<span class="s">    &lt;/div&gt;</span>
<span class="s">  &#39;&#39;&#39;</span></div></div></div></div></body></html>